body{
    font-family: 'Muli', sans-serif;
}

.navbar{
    background: #333a35;
    display:flex;
    justify-content: flex-start;
}
p{
    color:white;
     margin:5px;
     font-family: 'Muli', sans-serif;
}

.logo{
    display: flex;
    vertical-align: top;
    width:50px;
    height: 50px;
    margin-right:20px;
    /* margin-top:20px; */
}
    /* background: url('imgs/logo.png'); */
    /* width:50px; */
    /* height:450px; */

a {
    display: block;
}
/* unvisted link */
a:link {
    color:white;
    text-decoration: none;

}
/* visited link */
a:visited {
    color:whitesmoke;
    text-decoration: none;
}
/* hover */
a:hover {
    color:#eca419;
}
.test1 {
    color:orange;
}
.test1:hover{
    color:white;
}


/* social media */
.social{
    display: flex;
    /* color:white; */
}

/* .fafa-instagram{
color:orange;
    display: inline-block;
    margin-right: 5px;;
    font-size: inherit;
} */
.container{
    display:flex;
}

.container2{
    display: flex;
    flex-direction: column;
}
.line {
    border-bottom: 2px solid orange;
    margin-bottom: 40px;
    /* margin-right:auto; */
    /* margin-left: auto; */
    font-size:35px;
    padding-bottom: 30px;
    margin:60px;
    text-align: center;
        
    
}
.special{
    background-image: url('imgs/desert780x477.jpg');
    width:780px;
    height:477px;
    color:white;
    font-size:15px;
    font-family: Arial, Helvetica, sans-serif;
    display:flex;
    justify-content:flex-start;
    align-items:flex-end;
    
}
.special2{
    background-image: url('imgs/stream420x240.jpg');
    width:420px;
    height:240px;
    color:white;
    font-size:15px;
    font-family: Arial, Helvetica, sans-serif;
    display:flex;
    justify-content:flex-start;
    align-items:flex-end;
    

}
.special3{
    background-image: url('imgs/relax420x237.jpg');
    width:420px;
    height:237px;
    color:white;
    font-size:15px;
    font-family: Arial, Helvetica, sans-serif;
    display:flex;
    justify-content:flex-start;
    align-items:flex-end;
   
    

}
h2 {
    margin: 20px;
}

.middlecontainer{
    display:flex;
    flex-direction: row;
    width: 1000px;
    height: 900px;
     /* margin:auto;  */
    padding: auto; 
    justify-content: space-between;
}

.pic1{
    /* background-image: url('imgs/recipes.jpg'); */
    width:750px;
    height:200px; 
    margin-right: 10px;
    margin-top: 40px;
    margin-left:40px;
}
    /* color:white;
    font-size:15px; */
    /* font-family: Arial, Helvetica, sans-serif;  */ 
    /* /* display:flex;
    justify-content:flex-start;
    align-items:flex-end; 
}  */
    .pic2{
    width:750px;
    height:200px; 
    margin-right: 10px;
    margin-top: 40px;
    margin-left:10px;
    }

    .pic3{
        width:750px;
        height:200px; 
        margin-right: 10px;
        margin-top: 40px;
        margin-left:10px;
        }
       .pic4{
            width:750px;
            height:200px; 
            margin-right: 10px;
            margin-top: 40px;
            margin-right:40px;
            }
.caption{
    color:black;
    font-weight: bold;
    text-align: center;
}