body{
    font-family: 'Muli', sans-serif;
}

.navbar{
    background: #333a35;
    display:flex;
    justify-content: flex-start;
}
p{
    color:white;
     margin:5px;
     font-family: 'Muli', sans-serif;
}

.logo{
    display: flex;
    vertical-align: top;
    width:50px;
    height: 50px;
    margin-right:20px;
    /* margin-top:20px; */
}
    /* background: url('imgs/logo.png'); */
    /* width:50px; */
    /* height:450px; */

a {
    display: block;
}
/* unvisted link */
a:link {
    color:white;
}
/* visited link */
a:visited {
    color:whitesmoke;
}
/* hover */
a:hover {
    color:#eca419;
}
.test1{
    color:white;
}
.test1:hover {
    color:white;
}
.test2{
    color:orange;
}
.test2 .fa-facebook:hover{
    color:white;
}
.test3 .fa-pinterest:hover {
    color:white;
}
.test4 .fa-search:hover {
    color:white;
}

/* social media */
.social{
    display: flex;
    /* color:white; */
}

/* .fafa-instagram{
color:orange;
    display: inline-block;
    margin-right: 5px;;
    font-size: inherit;
} */
.container{
    display:flex;
}

.container2{
    display: flex;
    flex-direction: column;
}
.line {
    border-bottom: 2px solid orange;
    margin-bottom: 40px;
    /* margin-right:auto; */
    /* margin-left: auto; */
    font-size:35px;
    padding-bottom: 30px;
    margin:60px;
    text-align: center;
        
    
}
.special{
    background-image: url('imgs/desert780x477.jpg');
    width:780px;
    height:477px;
    color:white;
    font-size:15px;
    font-family: Arial, Helvetica, sans-serif;
    display:flex;
    justify-content:flex-start;
    align-items:flex-end;
    
}
.special2{
    background-image: url('imgs/stream420x240.jpg');
    width:420px;
    height:240px;
    color:white;
    font-size:15px;
    font-family: Arial, Helvetica, sans-serif;
    display:flex;
    justify-content:flex-start;
    align-items:flex-end;
    

}
.special3{
    background-image: url('imgs/relax420x237.jpg');
    width:420px;
    height:237px;
    color:white;
    font-size:15px;
    font-family: Arial, Helvetica, sans-serif;
    display:flex;
    justify-content:flex-start;
    align-items:flex-end;
   
    

}
h2 {
    margin: 20px;
}